{% extends 'app_1/base.html' %}
{% load staticfiles %}
{% block content %}
<style>
    a:link {text-decoration: none;}
    pre {text-align: left;}
</style>

 <div class="panel-group" id="accordion">

   <div class="panel panel-success">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Voice</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <p>THE JOGGER</p>
        <audio controls>
          <source src="{% static 'other/01_The_jogger.mp3' %}" type="audio/mp3">
          Your browser does not support the audio element.
        </audio>
        <br /><hr/>
        <p>TV</p>
        <audio controls>
          <source src="{% static 'other/02_TV.mp3' %}" type="audio/mp3">
          Your browser does not support the audio element.
        </audio>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        THE JOGGER</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
          <pre>
Dan and Sue are police officers in London. It is a Tuesday
morning, and Dan is angry.
Whats the m atter, Dan? Sue asks.
Look at this, Dan says. Every day som eone steals
money from people near the shops. We m ust stop th is.
Yes, of course, Sue says. But w ho is it?


There is a jogger, Dan says. Every day he runs near the
shops. Sometimes he runs into people. Perhaps he steals the
money.
OK , Sue says. Lets go to the shops. Perhaps we can see
this jogger.
They sit upstairs in a w indow over the shops. Dan has a
radio. They w atch the people in the street.
Look! Sue says. Theres the jogger!


The young man runs into an old woman, and she falls
down. The jogger puts his hand on the old womans arm.
Im sorry, he says. Can I help you? Heres your bag.
Then a young woman shouts at him. Dont run here!
she says. Its dangerous! Go aw ay!
The young m an runs away. Dan talks in his radio.
Quick! Stop him! Hes running up North Street!
A police car stops the young m an in North Street.


Are you OK now? Sue asks the old woman.
Yes, thank you. Where is that nice young woman? I
cant see her now .
Have you got all your money? Sue asks.
The old woman looks in her bag. No, I havent! My
moneys in my purse. But my purse isnt here!
OK Sue, Dan says. Lets talk to the jogger!


Who are you? Sue asks the young man.
My names Peter Jones. Why? Who are you?
Were police officers. Why do you go running past the
shops every day?
Why not? I like running.
OK , Dan says. Lets look for the money.
What money? Peter Jones asks. What are you talking
about? I never take money with me when I run .
Dan looks for the money but he cannot find any.


Can I go now ? Peter Jones asks.
OK , Dan says angrily. But dont come back!
Why not? Peter asks angrily. I live here! And Im not
doing anything wrong! He runs away.
What do we do now ? Sue asks. W here is the old
womans money, and her purse?
I dont know , says Dan. Somebody has it. But who?
        </pre>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        TV</a>
      </h4>
    </div>
      <!-- collapse >> in << : opened or collapsed -->
    <div id="collapse3" class="panel-collapse collapse in">
      <div class="panel-body">
          <pre>
Dan and Sue go back to the shops. I dont understand,
Dan says. The jogger hasnt got the money so we must
look for someone different.
Look, Sue says. Theres a TV camera over that shop
door. Perhaps that can help us.
#
They go into the shop and watch the video.
Look, Sue says. Theres the old woman. Shes getting
money from the bank and putting it into her purse. Now
shes putting the purse into the bag.
Stop the video there, says Dan. Now , look carefully.
Is anybody watching her?
There are a lot of people in the street, Sue says. Im not
sure. Is it that man with the long hair?
#
Perhaps, says Dan. Lets go on. What happens next?
They watch the video. The jogger runs into the old lady.
He stops and helps her. She shouts at him and he runs away.
Then a lot of people come and help the old lady.
Look! Sue says. The long-haired man has her arm .
Yes, but that woman has her bag,  Dan says. Whats she
doing with it? Oh! I cant see! Theres a man in front of her!
#
Listen, I have an idea, Dan says. You go to the bank
tomorrow , and take some money out.
Whys that a good idea? Sue asks.
Because we can watch you, Dan answers. Get a lot of
money from the bank, and let everybody in the street see it.
Take a radio too, so you can talk to me.
OK , Sue says. We can do that tomorrow morning, then.
          </pre>
      </div>
    </div>
  </div>

</div>
{% endblock %}
