{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/lib.js' %}"></script>
    <title>Title</title>
    {% block head %}
    {% endblock %}
    <style>
        .affix {
            top: 0;
            width: 100%;
            z-index: 9999 !important;
        }
        .affix + .container {
            padding-top: 70px;
        }
        @font-face{
            font-family: mohsen;
            src: url("{% static 'fonts/Shabnam.ttf' %}");
        }
     </style>
</head>
<body>
    <div class="container-fluid text-center" style="height: 200px;">
        <h1>Welcome to FDM</h1>
        <p>This application use MAP for fraud detection</p>
    </div>

    <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'data' %}">Menu1</a></li>
            <li><a href="{% url 'index_3' %}">Menu2</a></li>
            <li><a href="{% url 'Desktop_slider' %}">Desktop_slider</a></li>
        </ul>
    </nav>

    <div class="container text-center">

        <div class="row">
            <div class="col-sm-3 well">
                <div class="well">
                    <form action="{% url 'compute' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>IP:</label>
                            <input class="form-control" name="ip">
                        </div>
                        <div class="form-group">
                            <label>Port:</label>
                            <input class="form-control" name="port">
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" value="Send">
                    </form>
                </div>
                <div class="well">
                    <p><a href="#">Interface</a></p>
                    <p>
                        <span class="label label-success" style="cursor: pointer;" onclick="window.location='{% url 'ajax1' %}';">ajax1</span>
                        <span class="label label-danger" style="cursor: pointer;" onclick="window.location='{% url 'ajax2' %}';">ajax2</span>
                        <span class="label label-default" style="cursor: pointer;" onclick="alert('hello')">W3school</span>
                        <span class="label label-info">News</span>
                        <span class="label label-danger" style="cursor: pointer;" onclick="window.location='{% url 'test' %}';">test</span>
                        <span class="label label-default" style="cursor: pointer;" onclick="window.location='{% url 'table_show' %}';">Table</span>
                        <span class="label label-success" style="cursor: pointer;" onclick="window.location='{% url 'simple_upload' %}';">Upload</span>
                        <span class="label label-primary" style="cursor: pointer;" onclick="window.location='{% url 'mandaliof' %}';">mandaliof</span>
                        <span class="label label-info" style="cursor: pointer;" onclick="window.location='{% url 'ckeditor' %}';">ckeditor</span>
                        <span class="label label-default" style="cursor: pointer;" onclick="window.location='{% url 'menufullscreen' %}';">menufullscreen</span>
                        <span class="label label-success" style="cursor: pointer;" onclick="window.location='{% url 'cart_1' %}';">Cart_1</span>
                        <span class="label label-danger" style="cursor: pointer;" onclick="window.location='{% url 'list' %}';">list</span>
                        <span class="label label-primary" style="cursor: pointer;" onclick="window.location='{% url 'server' %}';">server</span>
                        <span class="label label-success" style="cursor: pointer;" onclick="window.location='{% url 'datepicker' %}';">datepicker</span>
                        <span class="label label-info" style="cursor: pointer;" onclick="window.location='{% url 'queryset' %}';">queryset</span>
                    </p>
                </div>
                <div class="alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <p><strong>Fraud Detection</strong></p>
                    <p>You can use fraud detection in this program</p>
                </div>
            </div>
            <div class="col-sm-9" style="height: 2000px;">
                <div class="well">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

</body>
</html>