{% extends 'app_1/base.html' %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/lib.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row">

        <!-- ################ Server ################ -->
        <div class="col-sm-8">
            <div class="well well-lg">
                <div class="form-group">
                    <form action="{% url 'compute_server' %}" method="post" class="was-validated">
                        {% csrf_token %}

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Server Name:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="name" placeholder="Enter server name ...">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">OS Type:</label>
                            <div class="col-sm-9">
                                <select class="js-example-basic-single form-control" name="os" style="width: 100%">
                                    {% for item in items %}
                                        <option value={{ item.id }}>{{ item.os_name }} _ {{ item.os_version }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3">Art:</label>
                            <div class="col-sm-9">
                                <select class="js-example-basic-single form-control" name="art" style="width: 100%">
                                    {% for art in arts %}
                                        <option value={{ art.id }}>{{ art.ip }} _ {{ art.port }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3">Comment:</label>
                            <div class="col-sm-9">
                                <select class="js-example-basic-single form-control" name="comment" style="width: 100%">
                                    {% for comment in comments %}
                                        <option value={{ comment.id }}>{{ comment.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary btn-block form-control">Save</button>
                            </div>
                        </div>

                        <script>
                            lib_select2();
                        </script>
                    </form>
                </div>
            </div>
        </div>

        <!-- ################ OS ################ -->
        <div class="col-sm-4">
            <div class="well well-lg">
                <div class="form-group">
                    <label>OS Name:</label>
                    <input type="text" name="os_name" id="os_name" class="form-control">
                </div>
                <div class="form-group">
                    <label>OS Version:</label>
                    <input type="text" name="os_version" id="os_version" class="form-control">
                </div>
                <button id="btn_save" class="btn btn-primary">Save</button>
                <p id="info"></p>
                <script>
                    lib_ajax("btn_save", "os_name", "os_version", "{% url 'server' %}");
                </script>
            </div>
        </div>

    </div>
{% endblock %}