{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
    <title>Title</title>

</head>
<body>
    <div>
        <img src="{% static 'img/d_2.jpg' %}">
        <p>hello text m ds gsdg sd fgdsfg fg gdsf
            sdfg dfgsdf gsdfg sd fg sdf g sdf g sdfg
            ddduk kuy ikui kuik  uik uik u ikuyk uyk
            dvd dv dv dfv fv dfv dfv fvd fv
            fgsd df trtii i uy u eyt ry w ert ertwet  ewt ewrt wer tw ertww ert
             ghf j fg jfg j fjf ghjf ghjfghj gfjh ffgfgfff  f f  f f
            sdfs sd sdfs  sdf s df sdf s df
            sa d sda dsa d sa d  sad sd
        </p>

    </div>
</body>
</html>